
.th-td-center {
    text-align: center;
}

.nav-select-emp {
    padding: .2rem .75rem; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #495057;
    background-color: #fff; 
    background-clip: padding-box; 
    border: 1px solid #ced4da; 
    border-radius: .25rem; 
    box-shadow: inset 0 0 0 transparent; 
    margin-right: 8px;
}

.mob-vis {
    display: block;
}
@media (min-width: 576px) {
    .nav-opt {
        display: flex !important;
        margin-right: 100px;
        margin-bottom: 0;
    }

    .mob-vis {
        display: none;
    }
    
}

@media (max-width: 575px) {
    .d-top {
        margin-top: 4px
    }
    
    .p-pesquisa {
        padding: 0;
    }
    
    .m-pesquisa {
        margin-top: 8px
    }

    .w-p-cliente {
        width: 94px;
    }

    .w-p-produtos {
        width: 107px;
    }

    .w-p-usuario {
        width: 54px;
    }

    .align-venda {
        text-align: left !important;
    }

    .w-100P {
        width: 100%;
    }

    .w-venda-valores {
        width: 152px;
    }
}